{extend name="base" /}
{block name="body"}
<section class="container"> 
   <div class="page_left"> 
    <ul> 
      <li><a href="{:url('index/PersonalData/index')}">关于博主</a></li>
      <li><a href="{:url('index/Link/index')}">友链申请</a></li>
      <li><a href="{:url('index/DaySentence/index')}">精句提交</a></li>
    </ul>
   </div> 
   <div class="page_right"> 
    <h1 class="page_title"><a href="{:url('index/Index/index')}">主页</a> &gt; <a href="#">关于</a> &gt; <a href="#">友链申请</a> &gt; </h1> 
    <div class="page_content"> 
     <form action="#" enctype="multipart/form-data" method="post">
      <table class="message_table"> 
       <tbody>
        <tr> 
         <td>网站名称</td> 
         <td><input name="name" type="text" placeholder="请输入网站名称" class="input_text form-control" id="name" autocomplete="off"/><span class="xing">*</span></td>
        </tr> 
        <tr> 
         <td>您的网址</td> 
         <td><input name="url" type="text" placeholder="请输入https:// 或 http://开头的网站URL" class="input_text form-control" id="url" autocomplete="off"/><span class="xing">*</span></td>
        </tr>
        <tr> 
         <td>您的姓名</td> 
         <td><input name="contacts" type="text" placeholder="请输入本人姓名" class="input_text form-control" id="contacts" autocomplete="off"/><span class="xing">*</span></td>
        </tr> 
        <tr> 
         <td>您的联系方式</td> 
         <td><input name="phone" type="text" placeholder="请输入手机号码" class="input_text form-control" id="phone" autocomplete="off"/><span class="xing">*</span></td>
        </tr>
        <tr> 
         <td>您的邮箱地址</td> 
         <td><input name="email" type="text" placeholder="请输入邮箱地址，如:123@qq.com" class="input_text form-control" id="email" autocomplete="off"/><span class="xing">*</span></td>
        </tr> 
        <tr> 
         <td>网站介绍</td> 
         <td><textarea name="descript" placeholder="请输入网站介绍" cols="50" rows="6" id="descript" class="textarea_text form-control"></textarea><span class="xing">*</span></td>
        </tr> 
        <tr>
         <td></td> 
         <td><input type="button" name="submit" value="提交审核" class="dosubmit"/></td>
        </tr> 
       </tbody>
      </table> 
     </form> 
    </div> 
    <!--    注意事项--> 
    <div class="care">
     <h3>注意：友链交换如有疑问，请联系QQ：1021664319！</h3>
     <ul class="care_matter">
      <li><span>A.</span><a>在您申请本站友情链接之前请先做好本站链接，谢谢！；</a></li>
      <li><span>B.</span><a>本站对PR、权重无要求，但建站小于一个月，谷歌、百度收录小于50页，暂不交换；</a></li>
      <li><span>C.</span><a>淘宝、色情、反动、病毒、擦边球、纯商业、违法中华人民共和国法律的网站暂不交换；</a></li>
      <li><span>D.</span><a>内容为原创的个人博客、微博、日记、科技、IT、生活类网站会优先考虑收录；</a></li>
      <li><span>E.</span><a>申请成功后请勿随意撤下链接，否则本站也会删除对应链接并加入黑名单；</a></li>
     </ul>
    <style>
      .dosubmit {
        width:100%;
        max-width:320px
      }
      .care {
        width:69%;
        height:250px;
        margin:auto;
      }
      .care_matter li a{
        line-height:40px;
        padding-left:20px;
        font-size:15px;
        color:#555;
      }
      .care_matter li a:hover{color:#357EBD;}
      .care_matter span{
        font-size:15px;
        color:#F78585;
      }
    </style> 
    </div> 
   </div>
  </section>
<script>
 $('.dosubmit').click(function () {
   dosubmit = $(this);

   var data = {};

   name = $('#name').val();
   if (name == '') {
     layer.msg('网站名称不能为空');
     return;
   }
   data.name = name;

   url = $('#url').val();
   if (url == '') {
    layer.msg('网址不能为空');
    return;
   }
   data.url = url;

   contacts = $('#contacts').val();
   if (contacts == '') {
    layer.msg('姓名不能为空');
    return;
   }
   data.contacts = contacts;

   phone = $('#phone').val();
   if (phone == '') {
    layer.msg('联系方式不能为空');
    return;
   }
   data.phone = phone;

   email = $('#email').val();
   if (email == '') {
    layer.msg('邮箱地址不能为空');
    return;
   }
   data.email = email;

   descript = $('#descript').val();
   if (descript == '') {
    layer.msg('网站介绍不能为空');
    return;
   }
   data.descript = descript;

   $(this).attr("disabled","disabled");

   $.ajax({
     type:"POST",
     dataType:"JSON",
     url:"{:url('Link/save')}",
     data:data,
     success:function(data){
      if(data.code==1){
       layer.msg(data.msg);

       setInterval(function(){
         window.location.href = "{:url('Index/index')}";
       },3000)
      }else{
       layer.msg(data.msg);
       dosubmit.removeAttr("disabled");
      }
     }
    })
 })
</script>
{/block}