{extend name="base" /}
{block name="body"}
<div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">系统设置列表</h2>
            </div>
          </header>
          <!-- Breadcrumb-->
          <div class="breadcrumb-holder container-fluid">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">系统设置</a></li>
              <li class="breadcrumb-item active">系统设置列表</li>
            </ul>
          </div>
          <section class="tables">   
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-close">
                      <form class="form-inline" method="get">
                        <div class="form-group">
                          <input id="inlineFormInput" name="keyword" type="text" placeholder="设置名称" class="mr-3 form-control" value="{$Think.get.keyword}">
                        </div>
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary">搜索</button>
                        </div>
                      </form>
                    </div>
                    <div class="card-header d-flex align-items-center">
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>ID</th>
                              <th>设置名称</th>
                              <th>设置值</th>
                              <th>设置描述</th>
                              <th>操作</th>
                            </tr>
                          </thead>
                          <tbody>
                            {foreach name="res" item="vo"}
                            <tr>
                              <th scope="row">{$vo.id}</th>
                              <td>{$vo.name}</td>
                              <td>{$vo.value}</td>
                              <td>{$vo.remark}</td>
                              <td>
                                <a href="edit.html?id={$vo.id}"><i class="fa fa-edit text-success text-active padding10"></i></a>
                              </td>
                            </tr>
                            {/foreach}
                          </tbody>
                        </table>
                        {$res->render()}
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </section>
          <script>

          </script>
{/block}