{extend name="base" /}
{block name="body"}
<div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">轮播图管理</h2>
            </div>
          </header>
          <!-- Breadcrumb-->
          <div class="breadcrumb-holder container-fluid">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">轮播图管理</a></li>
              <li class="breadcrumb-item active">轮播图列表</li>
            </ul>
          </div>
          <section class="tables">   
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-close">
                      <form class="form-inline" method="get">
                        <div class="form-group">
                          <input id="inlineFormInput" name="keyword" type="text" placeholder="轮播图名称" class="mr-3 form-control" value="{$Think.get.keyword}">
                        </div>
                        <div class="form-group">
                          <button type="submit" class="btn btn-primary">搜索</button>
                        </div>
                      </form>
                    </div>
                    <div class="card-header d-flex align-items-center">
                      <a href="{:url('admin/carousel/add')}"><button type="submit" class="btn btn-danger">添加轮播图</button></a>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>排序</th>
                                <th>名称</th>
                                <th>内容</th>
                                <th>类型</th>
                                <th>状态</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach name="res" item="vo"}
                            <tr>
                                <td scope="row">{$vo.id}</td>
                                <td>{$vo.sort}</td>
                                <td>{$vo.name}</td>
                                <td>{if condition = "$vo['type'] == 1"}<img src="{$vo.content}" alt="" width="100px">{elseif condition = "$vo['type'] == 2"}<video src="{$vo.content}" width="100px"></video>{else/}{/if}</td>
                                <td>{if condition = "$vo['type'] == 1"}图片{elseif condition = "$vo['type'] == 2"}视频{else/}{/if}</td>
                                <td>{$vo['status'] == 1 ? '显示' : '隐藏'}</td>
                                <td>{$vo.create_time|date="Y-m-d",###}</td>
                                <td>
                                    <a href="edit.html?id={$vo.id}"><i class="fa fa-edit text-success text-active padding10"></i>编辑</a>
                                    <a href="{:url('admin/carousel/delete',['id'=>$vo['id']])}"><i class="fa fa-edit text-success text-active padding10"></i>删除</a>
                                </td>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                          {$res->render()}
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </section>
          <script>

          </script>
{/block}